<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>About Us</header>
    <div class="about-container">
      <h1><%= title %></h1>
      <p>
        Welcome to our Pokemon app! Here, you can explore various Pokemon, learn
        about their types, and much more. Our goal is to provide a fun and
        educational experience for Pokemon enthusiasts of all ages.
      </p>
    </div>
    <footer>About Page Footer</footer>
    <script src="../server.js"></script>
  </body>
</html>
